# WordPress core
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Config and sensitive files
/wp-config.php
wp-config.php
/.user.ini
/wordfence-waf.php
params.php
RESET_GAME.php

# htaccess
.htaccess
wp-admin/.htaccess

# wp-content defaults
/wp-content/index.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/languages/

# Allow custom plugins and themes
!/wp-content/plugins/
!/wp-content/themes/

# Default themes
/wp-content/themes/twenty*

# Logs, cache, security
/wp-content/wflogs/
*.log

# Database dumps
*.sql
*.sqlite

# Sitemaps
sitemap.xml
sitemap.xml.gz

# OS files
.DS_Store
ehthumbs.db
Thumbs.db

# IDE/editor files
.idea/
*.sublime-project
*.sublime-workspace
*.komodoproject

# Archives/packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled/binary files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files
~*
/replace/

# Keep useful dotfiles
!.gitignore
!.editorconfig
!readme.md/wp-content/uploads/
/wp-content/uploads/
