# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
Redirect 301 https://assault.online/ https://assault.online/home
Redirect 301 https://assault.online https://assault.online/home


<Files "general_thing.php">
Order Deny,Allow
Deny from all
Allow from 87.209.229.255
Allow from 213.125.228.34
Allow from 217.121.5.245
Allow from 213.125.228.34
</Files>

<Files "eor_stats.php">
Order Deny,Allow
Deny from all
Allow from 87.209.229.255
Allow from 213.125.228.34
</Files>


<Files "isp_list.php">
Order Deny,Allow
Deny from all
Allow from 87.209.229.255
Allow from 213.125.228.34
</Files>

<Files "RESET_GAME.php">
Order Deny,Allow
Deny from all
Allow from 87.209.229.255
</Files>

<Files "toplists.php">
Order Deny,Allow
Deny from all
Allow from 87.209.229.255
Allow from 213.125.228.34
</Files>

<Files "clanawards.php">
Order Deny,Allow
Deny from all
Allow from 87.209.229.255
</Files>



# Emil Johansson (#1148)
Deny from 84.219.210.125
Deny from 2a00:801:20c:9f89:0:0:0:1
Deny from 2a00:801:20c:ac8a:0:0:0:1
Deny from 2a00:801:21a:719a:0:0:0:1
Deny from 2a00:801:301:750:0:0:0:1
Deny from 2a00:801:250:cd06:0:0:0:1
Deny from 2a00:801:251:b06f:0:0:0:1
Deny from 84.219.211.41
Deny from 2a00:801:2c0:db2c:0:0:0:1
Deny from 2a00:801:300:9303:0:0:0:1
Deny from 2a00:801:251:b2b1:0:0:0:1